services:
  app:
    build:
      context: ..
      dockerfile: .buildkite/Dockerfile.build
    volumes:
      - ..:/app
      - ~/.go-build:/root/.go-build
      - ~/go/pkg/mod:/root/go/pkg/mod
    working_dir: /app
