services:
  app:
    build:
      context: ..
      dockerfile: .buildkite/Dockerfile.build
      args:
        - USER_ID=${USER_ID:-2000}
        - GROUP_ID=${GROUP_ID:-2000}
      cache_from:
        - type=local,src=.buildx
      cache_to:
        - type=local,dest=.buildx
    user: "${USER_ID:-2000}:${GROUP_ID:-2000}"
    volumes:
      - ..:/app
      - ~/.go-build:/home/buildkite-agent/.go-build
      - ~/go/pkg/mod:/home/buildkite-agent/go/pkg/mod
    working_dir: /app
